<article class="movie-card">
    <a href="/pelicula/{{ slug }}">
        <img src="{{ image }}" alt="{{ title }}" class="movie-poster" loading="lazy" />
        <h3 class="movie-title">{{ title }}</h3>
    </a>
</article>